.dogPic {
    border:3px solid bisque;
    background-color: bisque;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    max-height:unset;
   
}

.dogFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:420px) {
    .dogPic {
        max-height:360px;
    }
  }