*{
  /* font-family:Georgia, 'Arial Narrow Bold', sans-serif */
}

.App {
  text-align: center;
  max-width:420px;
  margin:0px auto;
}


h1 {
  font-size:2rem;
  color:rgb(16, 6, 6);
}

.AppDogButton {
  padding:20px;
  border:3px solid rgb(16, 6, 6);
  cursor: pointer;
  background-color: bisque;
  font-size:2rem;
  border-radius: 10px;
  font-weight:bold;
}

.AppDogButton:hover{

  background-color: rgb(221, 255, 0);

}



@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding:10px 10px 60px;
}

.App-link {
  color: #4f0355;
}

