.App {
  text-align: center;
  max-width:unset;
  margin:0px auto;
}

h1 {
  font-size:2rem;
  color:bisque;
  font-family: 'Lilita One', cursive;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.AppDogButton {
  padding: 20px 32px;
  border:3px solid rgb(16, 6, 6);
  cursor: pointer;
  background-color: bisque;
  font-size:1.8rem;
  font-family: 'Lilita One', cursive;
  border-radius: 10px;
  bottom: 0px;
  right: 0px; 
  margin:10px;
  color: #4a3382;
  font-weight: 100;
  width: 98%;
  max-width:380px;
  margin:20px auto;
}

.AppDogButton:hover{
  background-color: rgb(221, 255, 0);
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding:10px 10px 60px;
}

.App-link {
  color: #4f0355;
}

@media (max-width:420px) {

  .App {
    max-width:420px;
  }
  .AppDogButton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin:10px;
    width: calc(100% - 20px);
  }
}
